@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to BuyWishlist</h1>

I never remember things I need to buy weeks or months later when I'm shopping online or at the store.
Or sometimes, I tihnk of something that I want to buy later in a month that doesn't have other large expenses.

This app lets you create a wishlist of items, including an optional link to the item's page, and a price for the item.
You can then view the list, sort/filter by price, etc.
